/* styles.css */
/* Global styles */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 20px;
  background-color: whitesmoke;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

picture {
  display: block;
}
picture > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Form styles */
#previewForm {
  margin-bottom: 20px;
}

#urlInput {
  width: 100%;
  height: 100px;
  resize: vertical;
}

h1 {
  font-size: 18px;
}

/* Results styles */
.results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  align-items: stretch;
}
.results > a > * {
  height: 100%;
}

/* Responsive styles */
@media (max-width: 600px) {
  .results {
    grid-template-columns: 1fr;
  }
}
.card-link {
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.card-link > header {
  text-align: center;
  flex: 1;
}
.card-link > header > picture {
  display: block;
  height: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}
.card-link > header > .clipboard-link {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 0 0 0 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.card-link > header > .clipboard-link:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.card-link > section {
  padding: 0.5rem 0.5rem;
  position: absolute;
  bottom: 0;
  color: white;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  display: flex;
  flex-direction: column;
}
